*{
    margin: 0;
    padding: 0;
}
.page-title{
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    letter-spacing: -1px;
    user-select: none;
    text-align: center;
}

.container .folder{
    border-radius: 7px;
    margin:0 20px 30px 20px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 7px;
    transition: transform 0.3s;
    user-select: none;
}
.container .folder:hover{
    transform: scale(0.97);
}
.container .folder .thumbnail-holder{
    border-radius: 5px;
    aspect-ratio: 16 / 10;
    overflow: hidden;
}
.container .folder .thumbnail-holder .thumbnail{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.container .folder .texts .title{
    color: #333;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    padding:10px 7px;
}
.container .folder .texts .description{
    color: #333;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    padding: 0 7px 10px 7px;
}





.container .video{
    border-radius: 7px;
    margin:0 20px 30px 20px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 7px;
    transition: transform 0.3s;
    user-select: none;
}
.container .video:hover{
    transform: scale(0.97);
}
.container .video .thumbnail-holder{
    border-radius: 5px;
    aspect-ratio: 16 / 10;
    overflow: hidden;
}
.container .video .thumbnail-holder .thumbnail{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.container .video .texts .title{
    color: #333;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    padding:10px 7px;
}
.container .video .texts .description{
    color: #333;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    padding: 0 7px 10px 7px;
}
.container .video .texts .author{
    color: #333;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    padding: 0 7px;
}
.container .video .texts .date{
    color: #00a1dc;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    padding: 7px;
}




body.dark .page-title{
    color: #7a8189;
}
body.dark .container .msg{
    color: #d5d5d5;
    border: 1px solid #7a8189;
}
body.dark .container .msg i{
    font-size: 50px;
    color: #7a8189;
    margin-bottom: 20px;
}
body.dark .container .folder{
    background: #1f2a35;
}
body.dark .container .folder .thumbnail-holder{
    background: #7a8189;
}
body.dark .container .folder .texts .title{
    color: #b6bcc4;
}
body.dark .container .folder .texts .description{
    color: #b6bcc4;
}

body.dark .container .video{
    background: #1f2a35;
}
body.dark .container .video .thumbnail-holder{
    background: #7a8189;
}
body.dark .container .video .texts .title{
    color: #b6bcc4;
}
body.dark .container .video .texts .description{
    color: #b6bcc4;
}
body.dark .container .video .texts .author{
    color: #b6bcc4;
}