*{
    margin: 0;
    padding: 0;
}
.btn-blocks{
    margin: 20px 10px;
}
.btn-blocks .btn-holder{
    width:100%;
}
.btn-blocks .btn-holder td{
    width: 50%;
    padding: 5px;
}
.btn-blocks .btn-holder td .tab-btn{
    padding: 10px 7px;
    display: flex;
    align-items: center;
    height: calc(100% - 14px);
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, transform 0.3s;
    user-select: none;
}
.btn-blocks .btn-holder td .tab-btn:active{
    background: #f3f5f7;
    transform: scale(0.95);
}
.btn-blocks .btn-holder td .tab-btn .icon{
    width: 35px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 20px;
}
.btn-blocks .btn-holder td .tab-btn .label{
    color: #111;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 10px;
    font-size: 16px;
}


.btn-blocks .btn-holder td .tab-btn#all-courses .icon{
    color:rgb(255, 77, 49);
    background: rgba(255, 77, 49, 0.1);
}
.btn-blocks .btn-holder td .tab-btn#exams .icon{
    color:rgb(49, 255, 125);
    background: rgba(49, 255, 125, 0.1);
}
.btn-blocks .btn-holder td .tab-btn#downloads .icon{
    color:rgb(186, 49, 255);
    background: rgba(186, 49, 255, 0.1);
}
.btn-blocks .btn-holder td .tab-btn#performance .icon{
    color:rgb(49, 149, 255);
    background: rgba(49, 149, 255, 0.1);
}



body.dark .btn-blocks .btn-holder td .tab-btn:active{
    background: #33475b;
}
body.dark .btn-blocks .btn-holder td .tab-btn{
    background: #1f2b37;
}
body.dark .btn-blocks .btn-holder td .tab-btn .label{
    color: #fff;
}