*{
    margin: 0;
    padding: 0;
}
.main-head-bar{
    background: #fff;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
}
.main-head-bar .part-1{
    padding-left: 10px;
}
.main-head-bar .part-1 .logo{
    width: 40px;
    aspect-ratio: 1 / 1;
    background-image: url(assets/logo.png);
    position: center;
    background-size: 100%;
}
.main-head-bar .part-2{
    padding-right: 10px;
}
.main-head-bar .part-2 .theme-btn{
    width: 35px;
    aspect-ratio: 1 / 1;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #60677b;
    font-size: 19px;
}
.main-head-bar .part-2 .theme-btn #sun{
    display: none;
}
.main-head-bar .part-2 .theme-btn:active{
    background: #d8d8d8;
}

.frame-holder{
    position: fixed;
    z-index: 99;
    background: #fff;
    top: 62px;
    left: 0;
    right: 0;
    bottom: 65px;
}
.frame-holder .frame{
    width: 100%;
    height: 100%;
}




.foot-nav-bar{
    background: #fff;
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
}
.foot-nav-bar .tab-btns{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.foot-nav-bar .tab-btns .tab-btn{
    width: 50px;
    aspect-ratio: 1 / 1;
    transition: 0.3s background;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}
.foot-nav-bar .tab-btns .tab-btn .icon{
    width: 35px;
    aspect-ratio: 1 / 1;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-nav-bar .tab-btns .tab-btn .icon i{
    font-size: 18px;
    color: #0167e3;
}
.foot-nav-bar .tab-btns .tab-btn.active .icon{
    background: #0167e3 !important;
}
.foot-nav-bar .tab-btns .tab-btn.active .icon i{
    color:#fff;
}
.foot-nav-bar .tab-btn:active .icon{
    background: #0167e32f;
    transform: scale(0.9);
    transition: 0.3s;
}
.foot-nav-bar .tab-btns .tab-btn .label{
    color: #222;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    padding-top: 3px;
}



/*DARK THEME*/
body.dark{
    background: #151d25;
}
body.dark .main-head-bar{
    background: #050d16;
}
body.dark .main-head-bar .part-2 .theme-btn #sun{
    display: block;
}
body.dark .main-head-bar .part-2 .theme-btn #moon{
    display: none;
}
body.dark .main-head-bar .part-2 .theme-btn:active{
    background: #0e2238;
}
body.dark .frame-holder{
    background: #151d25;
}
body.dark .foot-nav-bar{
    background: #050d16;
}
body.dark .foot-nav-bar .tab-btn:active .icon{
    background: #0167e32f;
    transform: scale(0.9);
}
body.dark .foot-nav-bar .tab-btns .tab-btn .label{
    color:#cacacf;
}